<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body>
<form class="layui-form layui-form-pane" action="" id="versions_form" style="margin-left:20px;margin-top:20px;margin-right:20px">
    <input type="hidden" id="name" name="name"/>
    <input type="hidden" id="url" name="url"/>
    <div class="layui-form-item">
        <label class="layui-form-label">类型:</label>
        <div class="layui-input-block" style="width:20%">
            <select id="type" name="type" lay-verify="required">
                <option value="1">安卓</option>
                <option value="0">工控机</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color:red">*  </span>版本号:</label>
        <div class="layui-input-block">
            <input type="text" id="versionCode" name="versionCode" required lay-verify="required" placeholder="请输入版本号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color:red">*  </span>版本名:</label>
        <div class="layui-input-block">
            <input type="text" id="versionName" name="versionName" required lay-verify="required" placeholder="请输入版本名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">文件:</label>
        <div class="layui-input-block" style="width:20%">
            <button type="button" class="layui-btn" id="uploadFile">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button><br/><span style="color:red" id="spanUpload"></span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注:</label>
        <div class="layui-input-block">
            <textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "sys/versions";
    layui.use('form', function () {
        var $ = layui.$;
        var form = layui.form;

        //监听提交
        form.on('submit(formSubmit)', function (data) {
            $("#type").removeAttr("disabled");
            $.post(prefix + "/save", $('#versions_form').serialize(), function (data) {
                if (data.code == 0) {
                    parent.layer.msg(data.msg, {icon: 1, time: 5000});
                    parent.layui.table.reload('laytable', {});
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                } else {
                    layer.msg(data.msg, {icon: 2, time: 5000});
                }
            }, 'json');
            return false;
        });
        renderForm();
    });

    layui.use('upload', function(){
        var $ = layui.$;
        var upload = layui.upload;
        var iii;
        var uploadInst = upload.render({
            elem: "#uploadFile",
            url: prefix + "/upload",
            accept: 'file',
            data:{versionCode: function(){return $('#versionCode').val();},type: function(){return $('#type').val();}},
            //exts: 'apk',
            before:function(res){
                //alert($('#versionCode').val());
                iii = layer.load(1, {shade: [0.1,'#fff']});
            },
            done: function(res){
                layer.close(iii);
                if(res.code==0){
                    //alert(JSON.stringify(res));
                    $('#name').val(res.data.name);
                    $('#url').val(res.data.url);
                    //$('#versionCode').val(res.data.versionCode);
                    //$('#packageName').val(res.data.packageName);
                    $('#versionCode').attr("readonly","readonly");
                    $("select[name=type]").attr("disabled","disabled");
                    renderForm();
                    $('#spanUpload').html("上传成功");
                }else{
                    layer.close(iii);
                    $('#spanUpload').html(res.msg);
                }

            },
            error: function(){
                layer.close(iii);
                $('#spanUpload').html("上传异常");
            }
        });
    });

    function renderForm() {
        layui.use('form', function () {
            layui.form.render('select');
        });
    }
</script>
</body>
</html>
