<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body>
<form class="layui-form layui-form-pane" action="" id="user_form" style="margin-left:20px;margin-top:20px;margin-right:20px">
	<!--<input type="hidden" id="id" name="id"/>-->
	<input type="hidden" id="roleIds" name="roleIds"/>

	<div class="layui-form-item">
		<label class="layui-form-label"><span style="color:red">*  </span>登录名:</label>
		<div class="layui-input-block">
			<input type="text" name="loginName" required lay-verify="required|loginName" placeholder="请输入登录名" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">昵称:</label>
		<div class="layui-input-block">
			<input type="text" name="nickName" placeholder="请输入昵称" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label"><span style="color:red">*  </span>密码:</label>
		<div class="layui-input-block">
			<input type="password" name="password" required lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">邮箱:</label>
		<div class="layui-input-block">
			<input type="text" name="email" lay-verify="" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">手机:</label>
		<div class="layui-input-block">
			<input type="text" name="phone" lay-verify="" placeholder="请输入手机" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">性别:</label>
		<div class="layui-input-block" style="width:20%">
			<select id="sex" name="sex" lay-verify="required">
				<option value="0">男</option>
				<option value="1">女</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">状态:</label>
		<div class="layui-input-block" style="width:20%">
			<select id="status" name="status" lay-verify="required">
				<option value="0">启用</option>
				<option value="1">停用</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">角色:</label>
		<div class="layui-input-block" style="">
			<select id="roleIds1" name="roleIds1" xm-select="select" xm-select-type="2" xm-select-skin="primary" xm-select-search>
				<option th:each="role:${roles}" th:value="${role.id}" th:text="${role.name}"></option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formSubmit">提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "sys/user";
    layui.config({
        base: '../../js/layui/lay/modules/'
    }).extend({
        formSelects: 'formSelects-v3'
    });

    layui.use(['form', 'formSelects'], function () {
        var $ = layui.$;
        var form = layui.form,
            formSelects = layui.formSelects;

        form.verify({
            loginName: [
                /^[\S]{2,20}$/
                ,'登录名必须2到20位'
            ],
			pass: [
                /^[\S]{5,20}$/
                ,'密码必须5到20位'
            ]
        });

        //监听提交
        form.on('submit(formSubmit)', function (data) {
            $('#roleIds').val(formSelects.value('select', 'val'));
            $.post(prefix + "/save", $("#user_form").serialize(), function (data) {
                if (data.code == 0) {
                    parent.layer.msg(data.msg, {icon: 1, time: 5000});
                    parent.layui.table.reload('laytable', {});
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                } else {
                    layer.msg(data.msg, {icon: 2, time: 5000});
                }
            }, 'json');
            return false;
        });
        renderForm();
    });

    function renderForm() {
        layui.use('form', function () {
            layui.form.render('select');
        });
    }
</script>
</body>
</html>
