<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="../static/js/layui/css/layui.css" th:href="@{/js/layui/css/layui.css}" rel="stylesheet"/>
	<!--<link rel="shortcut icon" href="favicon.ico">-->
</head>
<div th:fragment="footer">
	<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
	<script src="../static/js/layui/layui.js" th:src="@{/js/layui/layui.js}"></script>
</div>
