<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body>
<form class="layui-form layui-form-pane" action="" id="paramtype_form" style="margin-left:20px;margin-top:20px;margin-right:20px">

    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color:red">*  </span>名称:</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">编码:</label>
        <div class="layui-input-block">
            <input type="text" name="code" placeholder="请输入编码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序:</label>
        <div class="layui-input-block">
            <input type="text" name="orderNo" placeholder="请输入排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型:</label>
        <div class="layui-input-block" style="width:20%">
            <select id="type" name="type" lay-verify="required">
                <option value="0">工控机</option>
                <option value="1">电视</option>
                <option value="2">摄像头</option>
            </select>
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">备注:</label>
        <div class="layui-input-block">
            <input type="text" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "sys/paramtype";
    layui.use('form', function () {
        var $ = layui.$;
        var form = layui.form;

        //监听提交
        form.on('submit(formSubmit)', function (data) {
            $.post(prefix + "/save", $('#paramtype_form').serialize(), function (data) {
                if (data.code == 0) {
                    parent.layer.msg(data.msg, {icon: 1, time: 5000});
                    parent.layui.table.reload('laytable', {});
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                } else {
                    layer.msg(data.msg, {icon: 2, time: 5000});
                }
            }, 'json');
            return false;
        });
        renderForm();
    });

    function renderForm() {
        layui.use('form', function () {
            layui.form.render('select');
        });
    }
</script>
</body>
</html>
